@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Jolly+Lodger|The+Girl+Next+Door|Wendy+One|Hanalei|Medula+One|Loved+by+the+King);


body {
	margin: 0px;
    padding: 0px;
	
	-webkit-user-select: none;
	user-select: none;
}

#header {
    background-color: #00FF00;
    width: 100%;
    height: 64px;
	font-size : 3em;
	font-family: 'Averia Sans Libre', cursive;
	color : #FFFFFF;
	text-align : center;
}



#test {
	width : 1000px;
	margin : auto;
}

table {
    border: 1px solid black;
	width: 100%;
	float : right;
}
td {
    border: 1px solid black;
	vertical-align: top;
	width: 1px;
}
tr {
    border: 1px solid black;
}
input {
    width: 100%;
}

table.fixed {
	width: 100%;
    height: 100%;
	table-layout:fixed;
}

td.fixed {
    overflow: hidden;
}

td#canvas {
	width: 500px;
}

canvas {
	float : right;
	border: 1px solid black;
	cursor: move;
}

td#data {
	width: 200px;
	table-layout:fixed;
}

table.species {
	width : 100%;
	table-layout:fixed;
}

td.species {
	width: 50%;
}


td#config {
	width: 250px;
	cursor: help;
}

#input-container {
	width: 100%;
}

table.config {
	margin: 5px;
	text-align: center;
}

td.config {
	width : 1px;
}

input.config {
	display: block;
	width: 100%;
}

tr.config {
    height: 32px;
}

td#title {
    color: red;
}

div.ant-health {
    display: inline;
}

.toggleVisibility {
	text-align: right;
	border: none;
}

.nav {
	width: 170px;
	height: 30px;
	border: 1px solid black;
	margin : auto;
}